.logo {
  display: flex;
  margin-top: 100px;
  justify-content: center;
}

.input {
  display: flex;
  margin-top: -25px;
  justify-content: center;
  -webkit

}

.buttons {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

footer {
  display: flex;
  min-height: 85vh;
  flex-direction: column;
  word-spacing: 20px;
  color: (0, 0, 0);
  font-family: arial, sans-serif;
  font-size: 13px;
}

#lfoot {
  padding-left: 20px;
  flex: 1;
}

#rfoot {
  margin-left: auto;
  padding-right: 20px;
  flex: 1;
}

header {
  display: flex;
  align-items: center;
  word-spacing: 20px;
  color: (0, 0, 0);
  font-family: arial, sans-serif;
  font-size: 13px;
}

#rnav{
  margin-left: auto;
  padding-top: 10px;
  padding-right: 20px;

}

#lnav {
  padding-top: 10px;
  padding-left: 20px;
}
